@using FirstWebApp.Logic

@foreach (var dice in eyes)
{
    <p>Terning: <img style="max-width: 50px; max-height: 50px" src="DicePics/@ReturnPic(dice)"/></p>
}

<button @onclick="roll">Randomize</button>

@code {
    [Parameter] public int amountOfDice { get; set; }

    DiceCup Cup;
    List<int> eyes;

    protected override void OnInitialized()
    {
        Cup = new DiceCup(amountOfDice);
        eyes = Cup.GetEyes();
    }

    public void roll()
    {
        Cup.Shake();
        eyes = Cup.GetEyes();
    }
    
    private string ReturnPic(int eyes)
    {
        string result = "dice1.jpeg";
        switch (eyes)
        {
            case 1:
                result = "dice1.jpeg";
                break;
            case 2:
                result = "dice2.jpg";
                break;
            case 3:
                result = "dice3.jpg";
                break;
            case 4:
                result = "dice4.jpg";
                break;
            case 5:
                result = "dice5.jpg";
                break;
            case 6:
                result = "dice6.jpg";
                break;
        }

        return result;
    }
}