table {
    table-layout: fixed;
    width: 60%;
    border-collapse: collapse;
}

.buttons{
    padding-top: 50px;
}

th,
td {
    padding: 20px;
    text-align: center;
}

.tableAndButtons{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

tbody  tr:nth-child(odd) {
    background-color: white;
}

tbody tr:nth-child(even) {
    background-color: lightgreen;
}

.deletebutton{
    width: 30px;
    height: 30px;
    background: red;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    text-decoration: none;
    transition: background 0.2s;
}

.deletebutton:hover {
    background: darkred;
}